### Scala ###
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
src_managed/
project/boot/
project/plugins/project/
.cache-main
.cache-tests
lib_managed

### Eclipse Stuff ###
.metadata
build
org.scala-ide.std.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

### Mac stuff ###
.DS_Store
